body {
    margin: 0px;
    font-family: Arial;
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.card {
    margin-bottom: 30px;
}
.card p {
    margin: 4px;
}
